<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Hawkeye Nougat Registry" value="https://gitlab.com/api/v4/projects/85661048/packages/nuget/index.json" />
  </packageSources>
</configuration>
