<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ByteSize" version="2.1.2" targetFramework="net462" />
  <package id="IndexRange" version="1.0.2" targetFramework="net462" />
  <package id="Linguini.Bundle" version="0.3.2" targetFramework="net462" />
  <package id="Linguini.Shared" version="0.3.0" targetFramework="net462" />
  <package id="Linguini.Syntax" version="0.3.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net462" />
  <package id="PlayniteSDK" version="6.12.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="TA.System.Runtime.CompilerServices.RuntimeHelpers.GetSubArray" version="1.0.1" targetFramework="net462" developmentDependency="true" />
</packages>